@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    // border: solid 1px red;
}

::selection {
    background-color: purple;
    color: white;
}


button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

input {
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 2px;
    padding-left: 10px;
    border-bottom: solid 2px lightgray;
    position: relative;

    &::before {
        position: absolute;
        content: attr(data-name);
        top: 0;
        left: 0;
        font-size: 9px;
        z-index: 1;
        width: 100px;
        height: 100px;
        background-color: red;
        color: black;
    }
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginContainer {
        width: 500px;
        height: 600px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        flex-direction: column;
        padding: 10px 0 10px 130px;
        gap: 20px;

        h1 {
            font-size: 26px;
            margin-left: 85px;
        }

        .loginPasswordInputContainer {
            display: flex;
            align-items: center;
            gap: 10px;

            .showOrHideButton {
                width: 40px;
                height: 30px;
            }
        }

        .loginButton {
            width: 310px;
            height: 40px;
            background-color: rgb(99, 187, 241);
            border-radius: 10px;
            color: white;

            &:hover {
                background-color: green;
            }
        }

        .forgotPassword {
            text-decoration: underline;
            color: blue;
            padding-left: 80px;
        }

        .signUpContainer {
            display: flex;
            gap: 10px;
            padding-left: 20px;

            .singUp {}
        }

    }
}