@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    // border: solid 1px red;
}

::selection {
    background-color: purple;
    color: white;
}

button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

input {
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 2px;
    padding-left: 10px;
    border: solid 2px lightgray;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    border: solid 1px black;
    position: relative;

    .editProfileContainer {
        position: absolute;
        // width: 1000px;
        width: 400px;
        height: 600px;
        border: solid 2px black;
        background-color: white;
        top: 55px;
        left: 550px;
        // left: 250px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .editProfileInputCloseButton {
            padding: 5px 10px;
        }
    }

    .userLocationLeft {
        width: 15%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        gap: 20px;

        a {
            font-size: 28px;
            font-weight: 500;
            color: black;
        }

        #createButton {
            width: 88px;
            height: 24px;
            font-size: 13px;
            font-family: 600;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 0;
            position: relative;

            &::after {
                content: "Create +";
                font-size: 18px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                background-color: white;
                width: 88px;
                height: 24px;
                cursor: pointer;
            }
        }
    }

    .userLocationRight {
        width: 85%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        border: solid 2px red;

        .aboutUserContainer {
            width: 700px;
            display: flex;
            padding: 0 20px;
            border-bottom: solid 2px lightgrey;

            .leftAboutUserImage {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                margin-top: 50px;
                cursor: pointer;
                // background-image: url(../../images/me.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 0px -10px;
            }

            .rightAboutUserContainer {
                width: 480px;
                height: 220px;
                display: flex;
                flex-direction: column;

                &Top {
                    width: 100%;
                    height: 120px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    .userName {
                        font-weight: 500;
                        font-size: 18px;
                    }

                    .editProfileButton {
                        padding: 6px 15px;
                        background-color: rgb(162, 158, 158);
                        border-radius: 4px;
                        color: white;
                    }
                }

                &Middle {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 10px;
                    gap: 110px;

                    .postsCount,
                    .followersCount,
                    .followingCount {
                        position: relative;
                        font-size: 16px;
                        font-weight: 500;

                        &::after {
                            content: "";
                            position: absolute;
                        }
                    }

                    .postsCount::after {
                        content: "posts";
                        right: -50px;
                        font-weight: 400;
                    }

                    .followersCount::after {
                        content: "followers";
                        right: -80px;
                        font-weight: 400;
                    }

                    .followingCount::after {
                        content: "following";
                        right: -80px;
                        font-weight: 400;
                    }
                }

                &Bottom {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-left: 100px;
                    padding-top: 20px;

                    .fullName {
                        font-weight: 500;
                    }
                }
            }
        }

        .userSharedThings {
            width: 100%;
            height: 500px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            &Buttons {
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;

                .userSharedThingsButton {
                    padding: 4px 10px;
                    background-color: aliceblue;
                }
            }

            .sharingThings {
                width: 100%;
                height: 400px;
                background-color: #e0ebf6;
                overflow: auto;

                &Inside {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    // background-color: red;
                    padding: 20px;

                    .postDiv {
                        width: 250px;
                        height: 250px;
                        overflow: hidden;
                        position: relative;
                        cursor: pointer;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                        &Image {
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            transition: .6s;
                        }

                        .photoInfo {
                            display: flex;
                            align-items: center;
                            gap: 2px;
                            padding: 4px;
                            position: absolute;
                            z-index: 10;
                            display: none;
                            left: 20%;
                            top: 50%;

                            .likeCount {
                                font-size: 16px;
                                font-weight: 500;
                                color: white;
                                display: flex;
                                gap: 5px;
                                position: relative;

                                &::before {
                                    content: "Like : ";
                                }
                            }

                            .commentCount {
                                font-size: 16px;
                                font-weight: 500;
                                color: white;
                                display: flex;
                                gap: 5px;
                                position: relative;

                                &::before {
                                    content: "comment : ";
                                }
                            }
                        }

                        &:hover::after {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            content: "";
                            background-color: rgba(black, .3);
                            z-index: 9;
                        }

                        &:hover .photoInfo {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .postsContainer {
        width: 800px;
        height: 500px;
        overflow: hidden;
        position: fixed;
        display: none;

        &Inside {
            width: 100%;
            height: 100%;
            display: flex;

            .upScaledPost {
                min-width: 800px;
                height: 100%;
                display: flex;
            }
        }
    }
}

.fakeProfilePhoto {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 3;
    border: solid 1px black;
    border-radius: 50%;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(black, .3);
        position: fixed;
        top: 0;
        left: 0;
        filter: blur(20px);
    }
}