@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    // border: solid 1px red;
}

::selection {
    background-color: purple;
    color: white;
}


button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

input {
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 2px;
    padding-left: 10px;
    border: solid 2px lightgray;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .forgotPasswordContainer {
        width: 400px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // gap: 25px;
        justify-content: space-between;
        padding-top: 30px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        h1 {
            text-align: center;
            font-size: 26px;
        }

        p {
            color: cadetblue;
            width: 400px;
            text-align: center;
        }

        .sendLoginLinkButton {
            width: 312px;
            height: 40px;
            background-color: rgb(65, 65, 239);
            color: white;
            border-radius: 8px;
        }

        .cantResetLink {
            text-align: center;
        }

        .loginLinkContainer {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: cadetblue;

            a {
                color: white;
            }
        }
    }
}